@import "./font.css";
body {
    background-color: #fff;
    overflow-x: hidden;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
}
a {
    text-decoration: none;
}
h3 {
    font-family: librebaskervillebold;
    font-size: 50px;
    color: #313131;
}
