@import "./font.css";
body {
    background-color: #fff;
    overflow-x: hidden;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
}
a {
    text-decoration: none;
}
a:hover,
button:hover {
    cursor: pointer;
}
h3 {
    font-family: baskervillebold;
    font-size: 50px;
    color: #313131;
}
p {
    color: #616161;
}
