/* wr_home */
.wr_home {
  background-color: #3f4049;
  height: 100vh;
  opacity: 0.85;
  font-family: fontAwesome;
  }
  header {
    height: 75px;
    background-color: #fff;
  }  
  .wr_home nav {
    display: flex;
  }
  header .logo {
    font-family: poppinsmedium;
    font-size: 14px;
    color: #272727;
  }
  .wr_home .logo {
    font-size: 35px;
    height: 100%;
    line-height: 75px;
    margin: -.5vh 13.13vw 0 -.09vw;
    font-family: wisdomscript;
    color: #616161;
  }
  .wr_home .logo::first-letter {
    color: #fc5f45;
  }
  .wr_home nav ul {
    display: flex;
  }
  .wr_home li {
    margin-left: 1.1vw;
    list-style: none;
  }
  .wr_home a {
    font-family: poppinsmedium;
    line-height: 75px;
    font-size: 14px;
    color: #272727;
  }

  /* wr_home_content */
  .wr_home_content {
    padding: 13.9vh 0 14.57vh;
  }
  .wr_home_content .container {
    flex-direction: column;
    align-items: center;
  }
  .wr_home_content h2 {
    margin: 4% 10%;
    font-family: librebaskervilleregular;
    color: #fff;
    font-size: 60px;
    text-align: center;
    line-height: 10.03vh;
  }
  .wr_home .size {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .wr_home_content .home_content_btn {
    width: 182px;
    height: 52px;
    margin-bottom: 9.2vh;
    background-color: #fc5f45;
    border-radius: 40px;
    font-family: poppinssemibold;
    color: #fff;
  }
  .btn_features .btn_features_price,
  .btn_features .btn_features_time,
  .btn_features .btn_features_satisfaction {
    font-family: poppinsmedium;
    font-size: 18px;
    background-color: #3f4049;
    border: none;
  }
  .btn_features .btn_features_time {
    margin: 0 2.7vw 3.5vh 4.5vw;
    color: #b27cf5;
  }
  .btn_features .btn_features_price p {
      color: #38c695;
  }
  .btn_features .btn_features_time p {
    color: #b27cf5;
  }
  .btn_features .btn_features_satisfaction p {
  color: #feb960;
  }
  .wr_home_content .btn_features img {
    margin-bottom: 1.7vh;
  }
  